{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{%block content %} 

<!-- Message --> 
<div class="contenedorFormulario">
  {% if "valido" in request.GET%}
  <p>Bien hecho!<br> Formulario compleado y entregado</p>
  {% endif %}
  <form action="" method="post" style="text-align:center">
    {% csrf_token %}
    <table>
      {{miFormulario.as_table}}
    </table> 
    <input type="submit" value="Enviar" style="width:150px" class="btn btn-outline-primary">
  </form>
</div> 


{% endblock %} 