{% extends "ProyectoWebApp/base.html" %} {% load static %} {%block content %}
<br />
<!-- Heading -->
<div class="container-fluid">
  <div class="row " >
    <div class="col-8">
      <div class="row " style="width:90%; 
      margin-left: auto;
      margin-right: auto;">
        {%for producto in productos %}
        <div class="col-md-3" style="margin:5px 0px">
          <div class="card" style="width:100%">
            <div class="card-header">
              {{producto.categorias}}
            </div>
            <img class="card-img-top" src=" {{producto.imagen.url}}" />
            <div class="card-body" class="text-align:center">
              <h5 class="card-title">{{producto.nombre}}</h6>
              <p class="card-text">{{producto.precio}}&nbsp;$</p>
            </div>
            <div class="card-footer text-center">
              <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-outline-primary">Agregar al carro</a>
            </div>
          </div>
        </div>
        {% endfor %} 
      </div>
    </div>

    
    <div class="col-4" style="margin-left: auto; margin-right: auto;">
      {% include "./carro/widget.html" %}
    </div>
  </div>
</div>
<br />
{% endblock %}