{% extends "ProyectoWebApp/base.html" %} {% load static %} {%block content %}
<!-- Heading -->
{%for post in posts %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            {% if post.imagen %}
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src=" {{post.imagen.url}}" alt="" /> {% endif %}
            <div class="{% if post.imagen %}intro-text{% endif %} left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{post.titulo}}</span>
                </h2>
                <p class="mb-3">{{post.contenido}}</p>
                <div style="text-align:left; text-transform: capitalize;">
                    Autor: {{post.autor}}
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div style="text-align:center; text-transform: capitalize; width: 80%; margin: auto; color:white">
        Categorias: {% for categoria in post.categorias.all%}{{categoria.nombre}}&nbsp; {% endfor %}
    </div>
</section>
{% endfor %}

<!-- Message -->
<section class="page-section cta">
    <h1>BLOG
        < contenido por agregar>
    </h1>
</section>

{% endblock %}